#Bài tập thực hành - Lập trình máy học cho python - CS116.M11



MSSV: 19521299

Tên: Nguyễn Chí Cường

Ngày: 23/11/2021

Tuần 12

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, ShuffleSplit
from sklearn.preprocessing import StandardScaler

In [2]:
#Doc data
df = pd.read_csv('Data.csv')
df

     Sample code number  Clump Thickness  ...  Mitoses  Class
0               1000025                5  ...        1      2
1               1002945                5  ...        1      2
2               1015425                3  ...        1      2
3               1016277                6  ...        1      2
4               1017023                4  ...        1      2
..                  ...              ...  ...      ...    ...
678              776715                3  ...        1      2
679              841769                2  ...        1      2
680              888820                5  ...        2      4
681              897471                4  ...        1      4
682              897471                4  ...        1      4

[683 rows x 11 columns]

In [3]:
#xử lý data
scaler = StandardScaler()
df_scale = scaler.fit_transform(df.drop(['Class', 'Sample code number'], axis=1))
df_scale

array([[ 0.19790469, -0.70221201, -0.74177362, ..., -0.18182716,
        -0.61292736, -0.34839971],
       [ 0.19790469,  0.27725185,  0.26278299, ..., -0.18182716,
        -0.28510482, -0.34839971],
       [-0.51164337, -0.70221201, -0.74177362, ..., -0.18182716,
        -0.61292736, -0.34839971],
       ...,
       [ 0.19790469,  2.23617957,  2.2718962 , ...,  1.86073779,
         2.33747554,  0.22916583],
       [-0.15686934,  1.58320366,  0.93248739, ...,  2.67776377,
         1.02618536, -0.34839971],
       [-0.15686934,  1.58320366,  1.6021918 , ...,  2.67776377,
         0.37054027, -0.34839971]])

In [4]:
#cross validation
def Kflod_score(model, n):
  cv = ShuffleSplit(n_splits=n, test_size=0.2, random_state=0)
  score = cross_val_score(model, df_scale, df['Class'], cv=cv)
  return score

In [5]:
from sklearn.ensemble import GradientBoostingClassifier as GBM
clf = GBM(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)

In [6]:
score_boosting = Kflod_score(clf, 5)
print("Accuracy with model Gradient Boosting: ", score_boosting.mean())

Accuracy with model Gradient Boosting:  0.9664233576642335

#End